/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/myriad-pro'); */

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MYRIADPRO-REGULAR.OTF');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.MyriadPro {
    font-family: 'Myriad Pro', sans-serif;
}

@font-face {
    font-family: 'HomemadeApple';
    src: url('../fonts/HomemadeApple-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* handwriting */
.HomemadeApple {
    font-family: 'HomemadeApple';
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('../fonts/Bahnschrift.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.Bahnschrift {
    font-family: 'Bahnschrift';
}

@font-face {
    font-family: 'BricolageGrotesque-ExtraBold';
    src: url('../fonts/BricolageGrotesque-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* logo font */
.BricolageGrotesque-ExtraBold {
    font-family: 'BricolageGrotesque-ExtraBold';
}

@font-face {
    font-family: 'BricolageGrotesque';
    src: url('../fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* logo font */
.BricolageGrotesque {
    font-family: 'BricolageGrotesque';
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
