.home-video-container {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding:100px 0px; */

    #myVideo {
        /* position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100vw;
        min-height: 100vh; */
        opacity:25%; 
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.parallax, .parallax-mobile {
    /* The image used */
    background-image: url("/images/hero.webp");
    /* background-image: url("/images/underwater-gulf-scallops2.png"); */

    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* padding-top:50px; */

    .overlay {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.parallax-mobile {
    background-image: url("/images/hero-mobile.webp");
}







/* #hero {
    height: 800px;
    overflow: hidden;
    position: relative;
}

.layer {
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    position: fixed;
    z-index: -1;
}

#hero-mobile {
    display: none;
    background: url("https://i.ibb.co/d7hw559/full-illustration.png") no-repeat center bottom/cover;
    height: 320px;
}

#hero,
.layer {
    min-height: 800px;
    height: 100vh;
    max-width: 1900px;
    margin: 0 auto;
    overflow: hidden;
}

.layer-bg {
    background: url("/images/layer1.png") no-repeat center bottom/cover;
}

.layer-1 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_03.png");
}

.layer-2 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_02.png");
}

.layer-3 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_man.png");
    background-position: right bottom;
    background: url("/images/layer2.png") no-repeat center bottom/cover;
    background-position: left bottom;
}

.layer-4 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png");
    border: 1px solid red;
    background-color: red;
}

.layer-overlay {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_overlay.png");
    border: 1px solid blue;
    background-color: blue;
}

@media only screen and (max-width: 768px) {
    #hero {
        display: none;
    }

    #hero-mobile {
        display: block;
    }
} */